<table class="footer" cellpadding="0" cellspacing="0" width="94%" align="center"
	style="padding-left: 100px; padding-right: 100px;">
	<tr>
		<td height="32px"></td>
	</tr>
	<!--FOOTER TITLE-->
	<tr>
		<td align="center"
			style="font-family: Arial; font-size: 18px; line-height: 27px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff">
			С уважением, <span>Иванов Иван (ОСО)</span></td>
	</tr>
	<tr>
		<td height="18px"></td>
	</tr>
	<!--FOOTER BUTTONS-->
	<tr>
		<td>
			<a class="footer_link" href="https://k-zakupki.ru/work/contact" target="_blank"
				style="display:inline-block; width: 180px; height: 35px; margin-right: 0.1%; text-decoration: none; background-color: transparent;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/search.png?raw=true" alt="search"
					width="100%" height="100%" />
			</a>
			<a class="footer_link" href="tel:+78002506024" target="_self"
				style="display:inline-block; width: 165px; height: 35px; margin-right: 0.1%; text-decoration: none; background-color: transparent;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/question_footer.png?raw=true"
					alt="question" width="100%" height="100%" />
			</a>
			<a class="footer_link" href="https://k-zakupki.ru/restricted/" target="_blank"
				style="display:inline-block; width: 185px; height: 35px; margin-right: 0.1%; text-decoration: none; background-color: transparent;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/phone_footer_1.png?raw=true"
					alt="phone" width="100%" height="100%" />
			</a>
			<a class="footer_link" href="https://k-zakupki.ru/restricted/" target="_blank"
				style="display:inline-block; width: 185px; height: 35px; text-decoration: none; background-color: transparent;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/phone_footer_2.png?raw=true"
					alt="phone" width="100%" height="100%" />
			</a>
		</td>
	</tr>
	<tr>
		<td height="28px"></td>
	</tr>
	<!--FOOTER NAV-->
	<tr>
		<td>
			<table class="footer_nav" cellpadding="0" cellspacing="0" width="100%" align="center">
				<tr>
					<td colspan="2" width="50%"
						style="font-family: Arial; font-size: 18px; line-height: 27px; font-weight: 700; letter-spacing: 0.025em; color: #ffffff">
						Полезная информация</td>
					<td colspan="2" width="50%"
						style="font-family: Arial; font-size: 18px; line-height: 27px; font-weight: 700; letter-spacing: 0.025em; color: #ffffff">
						Наши ресурсы</td>
				</tr>
				<tr>
					<td height="12px"></td>
				</tr>
				<!--NAV TR #1-->
				<tr>
					<td style="padding-bottom: 8px;">
						<a href=""
							style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Советы
							юристов</a>
					</td>
					<td  style="padding-bottom: 8px;">
						<a href=""
							style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Аналитика
							закупок</a>
					</td>
					<td style="padding-bottom: 8px;">
						<a href=""
							style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Сайт</a>
					</td>
					<td style="padding-bottom: 8px;">
						<a href=""
							style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Youtube</a>
					</td>
				</tr>
				<!--NAV TR #2-->
				<tr>
					<td style="padding-bottom: 8px;">
						<a href=""
							style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Мнение клиентов</a>
					</td>
					<td  style="padding-bottom: 8px;">
						<a href=""
							style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Обучение</a>
					</td>
					<td style="padding-bottom: 8px;">
						<a href=""
							style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Вконтакте</a>
					</td>
					<td style="padding-bottom: 8px;">
						<a href=""
							style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Facebook</a>
					</td>
				</tr>
				<!--NAV TR #3-->
				<tr>
					<td style="padding-bottom: 8px;">
						<a href=""
							style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Полезные советы</a>
					</td>
					<td  style="padding-bottom: 8px;">
						<a href=""
							style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Наши победы</a>
					</td>
					<td style="padding-bottom: 8px;">
						<a href=""
							style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Одноклассиники</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="28px"></td>
	</tr>
	<tr>
		<td align="center"
		style="font-family: Arial; font-size: 12px; line-height: 17px; font-weight: 400; letter-spacing: 0.025em; color: #e5e4e4">Вы получили данное сообщение, так как являетесь зарегистрированным клиентом портала «Конкурентные закупки»,<br/>предоставляющего информацию о всех актуальных закупках.</td>
	</tr>
	<tr>
		<td height="25px"></td>
	</tr>
	<tr>
		<td align="center">
			<a href="" style="font-family: Arial; font-size: 12px; line-height: 21px; font-weight: 400; letter-spacing: 0.025em; color: #e5e4e4; text-decoration: underline;">
				Не хотите зарабатывать на закупках? Отписаться
			</a>
		</td>
	</tr>
	<tr>
		<td height="36px"></td>
	</tr>
</table>