<table class="footer" border="0" cellpadding="0" cellspacing="0" width="100%" align="center"
	style="padding-left: 100px; padding-right: 100px;">
	<tr>
		<td height="32px"></td>
	</tr>
	<!--FOOTER TITLE-->
	<tr>
		<td align="center"
			style="font-family: Arial; font-size: 18px; line-height: 27px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff">
			С уважением, <a href="mailto:press@k-zakupki.ru" target="_blank" style="font-family: Arial; font-size: 18px; line-height: 27px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Иванов Иван (ОСО)</a></td>
	</tr>
	<tr>
		<td height="18px"></td>
	</tr>
	<!--FOOTER BUTTONS-->
	<tr>
		<td class="footer-buttons" align="center">
			<a class="footer-link" href="https://k-zakupki.ru/tenders" target="_blank"
				style="display:inline-block; width: 210px; height: 35px; margin-right: 14px; text-decoration: none; background-color: transparent;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/search_footer.png?raw=true" alt="search"
					width="100%" height="100%" />
			</a>
			<a class="footer-link" href="https://k-zakupki.ru/work/contact" target="_blank"
				style="display:inline-block; width: 165px; height: 35px; margin-right: 14px; text-decoration: none; background-color: transparent;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/question_footer.png?raw=true"
					alt="question" width="100%" height="100%" />
			</a>
			<a class="footer-link" href="tel:+74993010433" target="_self"
				style="display:inline-block; width: 185px; height: 35px; margin-right: 14px; text-decoration: none; background-color: transparent;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/phone_footer_1.png?raw=true"
					alt="phone" width="100%" height="100%" />
			</a>
			<a class="footer-link" href="tel:+79060312943" target="_self"
				style="display:inline-block; width: 185px; height: 35px; text-decoration: none; background-color: transparent;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/phone_footer_2.png?raw=true"
					alt="phone" width="100%" height="100%" />
			</a>
		</td>
	</tr>
	<tr>
		<td height="28px"></td>
	</tr>
	<!--FOOTER NAV-->
	<tr>
		<td>
			<table class="footer-nav" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
				<tr>
					<!--FOOTER NAV COL 1-->
					<td class="footer-nav_col" colspan="2" width="50%">
					<table class="footer-nav_table" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
						<tr>
							<td colspan="2" style="font-family: Arial; font-size: 18px; line-height: 27px; font-weight: 700; letter-spacing: 0.025em; color: #ffffff">
								Полезная информация
							</td>
						</tr>
						<tr>
							<td height="12px"></td>
						</tr>
						<tr>
							<td style="padding-bottom: 8px;">
									<a href="https://www.youtube.com/playlist?list=PLYOQSfY7soOk45HcifKro-H4xgrhB9NPC" target="_blank"
										style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Советы
										юристов</a>
							</td>
							<td style="padding-bottom: 8px;">
								<a href="https://analytic.k-zakupki.ru/" target="_blank"
									style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Аналитика
									закупок</a>
							</td>
						</tr>
						<tr>
							<td style="padding-bottom: 8px;">
								<a href="https://www.youtube.com/playlist?list=PLYOQSfY7soOneX72CnVXQmDefBS4hJZap" target="_blank"
									style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Мнение клиентов</a>
							</td>
							<td  style="padding-bottom: 8px;">
								<a href="https://k-zakupki.ru/trainings" target="_blank"
									style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Обучение</a>
							</td>
						</tr>
						<tr>
							<td style="padding-bottom: 8px;">
								<a href="https://k-zakupki.ru/advice-to-clients" target="_blank"
									style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Полезные советы</a>
							</td>
							<td  style="padding-bottom: 8px;">
								<a href="https://k-zakupki.ru/victories" target="_blank"
									style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Наши победы</a>
							</td>
						</tr>
					</table>
					</td>
					<!--FOOTER NAV COL 2-->
					<td class="footer-nav_col" colspan="2" width="45%">
						<table class="footer-nav_table" border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
							<tr>
								<td colspan="2" style="font-family: Arial; font-size: 18px; line-height: 27px; font-weight: 700; letter-spacing: 0.025em; color: #ffffff">
									Наши ресурсы
								</td>
							</tr>
							<tr>
								<td height="12px"></td>
							</tr>
							<tr>
								<td style="padding-bottom: 8px;" width="1%">
									<a href="https://k-zakupki.ru/" target="_blank"
										style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Сайт</a>
								</td>
								<td style="padding-bottom: 8px;"  width="10%">
									<a href="https://www.youtube.com/channel/UCuuVKRLhHV6D00GQFC2jeVA" target="_blank"
										style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Youtube</a>
								</td>
							</tr>
							<tr>
								<td style="padding-bottom: 8px;"  width="1%">
									<a href="https://vk.com/kzakupki" target="_blank"
										style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Вконтакте</a>
								</td>
								<td style="padding-bottom: 8px;"  width="10%">
									<a href="https://www.facebook.com/kzakupki" target="_blank"
										style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Facebook</a>
								</td>
							</tr>
							<tr>
								<td style="padding-bottom: 8px;" colspan="2" >
									<a href="https://ok.ru/group/57731748528153" target="_blank"
										style="font-family: Arial; font-size: 16px; line-height: 22px; font-weight: 400; letter-spacing: 0.025em; color: #ffffff; text-decoration: none;">Одноклассиники</a>
								</td>
							</tr>
						</table>
						</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td height="28px"></td>
	</tr>
	<tr>
		<td align="center"
		style="font-family: Arial; font-size: 12px; line-height: 17px; font-weight: 400; letter-spacing: 0.025em; color: #e5e4e4">Вы получили данное сообщение, так как являетесь зарегистрированным клиентом портала «Конкурентные закупки»,<br/>предоставляющего информацию о всех актуальных закупках.</td>
	</tr>
	<tr>
		<td height="25px"></td>
	</tr>
	<tr>
		<td align="center">
			<a href="https://k-zakupki.ru/unsubscribe.pl?marker=MzExMDMxMg==&action=confirm&e=IGtpc2VsZXZhQGNvbnRyYWN0LWNlbnRlci5ydQ==" target="_blank" style="font-family: Arial; font-size: 12px; line-height: 21px; font-weight: 400; letter-spacing: 0.025em; color: #e5e4e4; text-decoration: underline;">
				Не хотите зарабатывать на закупках? Отписаться
			</a>
		</td>
	</tr>
	<tr>
		<td height="36px"></td>
	</tr>
</table>