<table class="header" cellpadding="0" cellspacing="0" width="94%" align="center" border="1">
	<tr>
		<td style="height: 12px;"></td>
	</tr>
	<tr>
		<td style="max-height: 20px !important;">
			<!--LOGO-->
			<a class="logo_link" href="https://k-zakupki.ru/" target="_blank"
				style="display: inline-block; width: 170px; height: 40px; margin-right: 68px; text-decoration: none; background-color: #73ccd5;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/logo.jpg?raw=true" alt="LOGO"
					width="100%" height="100%" />
			</a>
			<!--SOCIAL LINK-->
			<a class="social_link" href="https://vk.com/kzakupki" target="_blank"
				style="display: inline-block; width: 28px; height: 28px;text-decoration: none; background-color: #202243;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/vk_logo.jpg?raw=true" alt="VKONTAKTE"
					width="100%" height="100%" />
			</a>
			<a class="social_link" href="https://ok.ru/group/57731748528153" target="_blank"
				style="display: inline-block; width: 28px; height: 28px;text-decoration: none; background-color: #202243;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/ok_logo.jpg?raw=true"
					alt="ODNOKLASSNIKI" width="100%" height="100%" />
			</a>
			<a class="social_link" href="https://www.facebook.com/kzakupki" target="_blank"
				style="display: inline-block; width: 28px; height: 28px;text-decoration: none; background-color: #202243;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/fb_logo.jpg?raw=true" alt="FACEBOOK"
					width="100%" height="100%" />
			</a>
			<a class="social_link" href="https://www.youtube.com/channel/UCuuVKRLhHV6D00GQFC2jeVA" target="_blank"
				style="display: inline-block; width: 28px; height: 28px; text-decoration: none; background-color: #202243;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/ye_logo.jpg?raw=true" alt="YOUTUBE"
					width="100%" height="100%" />
			</a>

			<!--USER LINK-->
			<a class="user_link" href="https://k-zakupki.ru/work/contact" target="_blank"
				style="display:inline-block; width: 165px; padding-top: 8.5px; padding-left: 19.5px; padding-bottom: 8.5px; border-style: solid; border-radius: 17.5px; border-width: 1.5px; border-color: #73ccd5;text-decoration: none;">
				<img src="https://github.com/ananevandrei11/emailletter/blob/main/src/img/question.jpg?raw=true"
					alt="question" width="15" height="15" style="margin-right: 7px;" />
				<span
					style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; letter-spacing: 0.35px; color: #343b4c; padding-bottom: 9px;">Задать
					вопрос</span>
			</a>
		</td>
	</tr>
</table>